In [2]:
import pandas as pd

In [8]:
#1 Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
series = pd.Series(my_list)

print(series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [15]:
# Q3 Create a Pandas DataFrame that contains the following data:
data1={"name" : ['Alice' , 'Bob' , 'Claire'],
      "age":[25,30,27],
      "gender":['Female','Male',"Female"]}

df = pd.DataFrame(data1)
print(df)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [24]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# a DataFrame is a two-dimensional labeled data structure that can store data in tabular form, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can contain data of a different type (e.g., integers, floats, strings, etc.). 

# DataFrames are a fundamental structure in pandas and are commonly used for data manipulation, analysis, and cleaning. On the other hand, a Series is a one-dimensional labeled array-like object in pandas. It can be thought of as a single column of data with an associated label (index).

# datframes
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 32, 28, 22]
}

df = pd.DataFrame(data)
print(df )

      name  age
0    Alice   25
1      Bob   32
2  Charlie   28
3    David   22

In [28]:

# series

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 32, 28, 22])

print("Names Series:")
print(names)
print("\nAges Series:")
print(ages)

Names Series:
0      Alice
1        Bob
2    Charlie
3      David
dtype: object

Ages Series:
0    25
1    32
2    28
3    22
dtype: int64

In [ ]:
#5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

# Filtering Rows:
df[df['column'] > value]: Filter rows based on a condition.
# Sorting:
df.sort_values(by='column'): Sort the DataFrame based on values in a specific column.
df.sort_index(): Sort the DataFrame based on the index.
# Filtering and Selection:
df[columns]: Select specific columns from the DataFrame.
df.loc[row_indexer, column_indexer]: Select rows and columns by label.
df.iloc[row_indexer, column_indexer]: Select rows and columns by integer index.
# Adding and Removing Columns:
df['new_column'] = values Add a new column to the DataFrame.
df.drop(columns=['column']): Remove a column from the DataFrame.

In [ ]:
#6 Which of the following is mutable in nature Series, DataFrame, Panel?

both Series and DataFrame are mutable in nature in the context of pandas.

In [29]:
#7Create a DataFrame using multiple Series. Explain with an example.

# Creating separate Series for each attribute
names = pd.Series(['Akash', 'rahul', 'abhishek', 'rohit'])
ages = pd.Series([25, 32, 28, 22])
grades = pd.Series([85, 92, 78, 88])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Grade': grades
}

df = pd.DataFrame(data)
# dataframe i

print(df)

       Name  Age  Grade
0     Akash   25     85
1     rahul   32     92
2  abhishek   28     78
3     rohit   22     88