In [1]:
# Q1
# A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information.

# SQL databases:

# Structured Query Language (SQL) databases are relational databases.
# They use a predefined schema to store data in tables with rows and columns.
# Suitable for complex queries and maintaining data integrity but less flexible for unstructured data.



# NoSQL databases:

# NoSQL databases are non-relational databases.
# They store data in a schema-less manner, often using JSON-like documents, key-value pairs, or graphs.
# Suitable for handling large amounts of unstructured or semi-structured data, providing high scalability and flexibility.

In [2]:
#Q2
# DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database.

# The CREATE statement is used to create new database objects such as tables, views, indexes, and procedures
# The DROP statement is used to delete existing database objects, such as tables, views, or indexes. 
# The ALTER statement is used to modify the structure of an existing database object
# The TRUNCATE statement is used to remove all the data from a table but retain the table structure

# create 
# CREATE TABLE employees (xyz);

# drop 
# DROP TABLE employees;

# alter
# ALTER TABLE employees
# ADD COLUMN name varchar;

# truncate
# TRUNCATE TABLE employees;

In [3]:
# Q3
# DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with the data stored in a database.DML commands are used to insert, update, and delete data within the database tables


INSERT:
# The INSERT statement is used to add new rows (records) into a table. It allows you to specify the values to be inserted into each column or select them from another table.

# INSERT INTO employees (id, name, work, payment, hiredate)
# VALUES (1, 'John Doe', 'HR', 50000.00, '2023-07-26');

update
# the UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns based on specified conditions

# UPDATE employees
# SET salary = salary * 3.3
# WHERE id = 1;

delete

# The DELETE statement is used to remove one or more rows from a table based on specified conditions. It does not delete the table structure; it only removes data from it. 

# DELETE FROM employees
# WHERE id = 1;

SyntaxError: invalid syntax (3519407784.py, line 4)

In [ ]:
# Q4
# DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are primarily concerned with querying and fetching data from one or more database tables




# The SELECT statement is used to retrieve data from a database table. It allows you to specify the columns you want to retrieve and apply various conditions and filters to fetch the desired data.
# SELECT id, name, department, salary
# FROM employees
# # WHERE department = 'HR';

In [ ]:
# Q5
# Primary Key:
# # A primary key is a special column or set of columns in a database table that uniquely identifies each record (row) in that table. It ensures that there are no duplicate or null values in the designated column(s).


# Foreign Key:
# A foreign key is a column or set of columns in a database table that establishes a link or reference to the primary key of another table. It creates a relationship between two tables and ensures referential integrity.

In [ ]:
# Q6
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )

In [ ]:
# The execute() method is called on the cursor object and is used to execute SQL queries on the database
# The cursor() method is used to create a cursor object, which enables interaction with the database. its likea pointer

In [ ]:
# The order of execution of SQL clauses in an SQL query is as follows:

#1 FROM: Specifies the table or tables from which the data will be retrieved.
#2 WHERE: Applies conditions to filter the data based on specific criteria.
#3 GROUP BY: Groups the data based on one or more columns.
#4 HAVING: Filters the grouped data based on specified conditions.
#5 SELECT: Selects the columns and data to be returned in the result set.
#6 ORDER BY: Sorts the result set based on one or more columns.
#7 # LIMIT / OFFSET: Restricts the number of rows returned or skips a certain number of rows (used for pagination).